.git/
.1024.nix
.1024feature*
.nfs*
*.dll
*.swp
.paas-unit-*
core.*
.breakpoints
.idea/
.vscode/
# Clacky Env Files
.env
.env.local
.env.*.local
.1024nix
.1024feature-file
coverage/

# System and Version Control Files
DS_Store
Thumbs.db
.svn/
.hg/
*.lock
.DS_Store
.nfs*

# Dependencies and Build Artifacts
node_modules/
bower_components/
dist/
.pnpm-store/
build/
*.tgz

# Logs
logs/
*.log

# Temporary and Backup Files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.old
*.pid
*.seed
*.pid.lock

# JavaScript language files
*.js.map
*.jdbg

# Additional JavaScript/TypeScript Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# Environment and Configuration Files
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local